@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
    --text-color: #333333;
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-color: rgb(10, 190, 173);
    --secondary--color: #F57F17;
    --box-shadow: 0 0 1rem 1rem rgba(19, 182, 255, 0.24);
}

:root.dark-theme{
    --text-color: #95A5C6;
    --app-bg-color: #161D26;
    --section-bg-color: #1F2935;
}

:root.dark-theme .package__fill{
    fill:#95A5C6;
}

/*

-- Reset Style

*/
a{
    text-decoration: none;
}

ul,*{
    list-style-type: none;
}

/*

-- Component --

*/

.app-btn{
    width: 18rem;
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    color: #ffffff;
    background-color: var(--primary-color);
    font-family: "Poppins SemiBold",sans-serif;
}

.section-head{
    padding-top: 10rem;
    text-align: center;
}

.section-head__title{
    font-family: "Poppins Bold",sans-serif;
    font-size: 4.8rem;
    color: var(--primary-color);
    margin: 0;
}

.section-head__caption{
    letter-spacing: .3rem;
    margin: .5rem 0 2rem 0;
}

.section-head__line{
    position: relative;
    width: 16rem;
    height: .3rem;
    background-color: var(--primary-color);
    display: block;
    margin: 0 auto;
}

.section-head__line::before{
    content: "";
    position: absolute;
    width: 4rem;
    height: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    left: 0 ;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
/*

-- Helper Class --

*/
.align-items-center{
    align-items: center;
}

.skew-reset{
    transform: skewY(6deg);
}

.h-full{
    height: 100%;
}

.mb5{
    margin-bottom: 10rem;
}

.purple{
    background: #803AFB !important;
}

.purple-shadow{
    box-shadow: 0 0 1rem 0 rgba(128, 58, 251, 0.6) !important;
}

.pink{
    background: #F5276C !important;
}

.pink-shadow{
    box-shadow: 0 0 1rem 0 rgba(245, 39, 108, 0.6) !important;
}
/*

-- App --

*/
html {
    font-size: 10px;
}

body {
    font-family: "Poppins",sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    padding-top: 7.5rem;
    background-color: var(--section-bg-color);
}
/*

-- Header --

*/
.header{
    box-shadow: var(--box-shadow);
    background-color: var(--section-bg-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--primary-color);
    font-size: 6rem;
    font-family: "Poppins Black",sans-serif;
    margin: 0;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--section-bg-color);
}

.menu__item{

}

.menu__item--active{
    color: var(--primary-color);
}

.menu__link{
    position: relative;
    display: inline-block;
    color: inherit;
    transition: all 250ms ease-in-out;
    font-family: "Poppins Medium",sans-serif;
}
.menu__link::before{
    content: "";
    position: absolute;
    border-radius: 1rem;
    background-color: var(--primary-color);
    transition: all 150ms ease-in-out;
    width: 0;
    margin-top: .3rem;
    height: .2rem;
    bottom: 0;
}

.menu__link:hover::before{
    width: 100%;
}

.menu__link:hover{

}

.nav__toggle-icon{
    cursor: pointer;
    display: none;
    width: 4rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.nav__toggle-line{
    position: relative;
}

.nav__toggle-line,.nav__toggle-line::before
,.nav__toggle-line::after{
    content: '';
    width: 4rem;
    height: .5rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    transition: 200ms all ease-in-out;
}

.nav__toggle-line::before{
    position: absolute;
    top: 1rem;
}

.nav__toggle-line::after{
    position: absolute;
    bottom: 1rem;
}

.nav__toggle-icon--open .nav__toggle-line{
    background-color: transparent;
}

.nav__toggle-icon--open .nav__toggle-line::before{
    transform: translateY(-1rem) rotate(-45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after{
    transform: translateY(1rem) rotate(45deg);
}

/*

-- Main --

*/

/*

-- Home --

*/
.main{

}

.home{
    padding-top: 10rem;
    background-color: var(--section-bg-color);
}

.home__content{

}

.home__name{
    color: var(--primary-color);
    font-size: 2.8rem;
    font-family: "Poppins SemiBold",sans-serif;
}

.home__name--orange{
    color: var(--secondary--color);
}

.home__title{
    color: var(--primary-color);
    font-size: 5rem;
    font-family: "Poppins Bold",sans-serif;
}

.home__caption{
    opacity: .7;
    margin-top: 1rem;
}

.links{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.link{
    box-shadow: var(--box-shadow);
}

.link--orange{
    background-color: var(--secondary--color);
    box-shadow: 0 0 2rem .2rem var(--secondary--color);
}

.home__photo{
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    background-image: url("../images/header-avatar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border: 1.5rem solid #fff;
    box-shadow: var(--box-shadow);
}

.wave{
    width: 100%;
    height: 30rem;
    background-size:cover;
    background-image: url("../images/shapes/header-shape.svg");
    background-repeat: no-repeat;
}

/*

-- About Us --

*/

.about-us{
    background-color: var(--section-bg-color);
}

.about{
    margin-top: 10rem;
    display: flex;
    min-height: 60rem;
    box-shadow: var(--box-shadow);
}

.about__cover{
    flex-basis: 50%;
    background-position: left;
}

.about__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.about__content{
    flex-basis: 50%;
    padding: 2rem;
}

.about__title{
    font-size: 2.4rem;
    font-family: "Poppins SemiBold",sans-serif;
}

.about__description{
    margin-top: 1.5rem;
    max-width: 63rem;
}

.about__list-title{
    font-family: "Poppins SemiBold",sans-serif;
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-top: 5rem;
}

.about-list{
    list-style: var(--secondary--color);
    margin-top: 1rem;
}

.about-list__item{
    margin: 0 0 1rem 1.5rem;
    position: relative;
    padding-left: 2.5rem;
}

.about-list__item::before{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary--color);
    border-radius: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.about-us__links{
    justify-content: center;
}

/*

-- Services --

*/

.services{
    background-color: var(--section-bg-color);
}

.services-wrapper{
    margin-top: 10rem;
}

.service{
    position: relative;
    color: #fff;
    text-align: center;
    overflow: hidden;
    height: 100%;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    border-radius: 1rem;
    margin-top: 7rem;
}
.service--purple{
 background-color: #8540FF;
}
.service__yellow{
    background-color: #FFC50C;
}
.service--pink{
    background-color: #EC407A;
}
.service--orange{
    background-color: #FF6331;
}
.service--blue{
    background-color: #13B6FF;
}
.service--green{
    background-color: #49AF46;
}

.service__icon{

}

.service__title{
    font-family: "Poppins Bold",sans-serif;
    font-size: 2.4rem;
    margin: 2rem 0;
}

.service__caption{

}

.service__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    scale: 1.2;
}

/*

-- Resume --

*/

.resume{
    margin-top: 15rem;
    box-shadow: 0 0 6rem rgba(19,182,255,24%);
    transform: skewY(-6deg);
    background-color: var(--section-bg-color);
    padding: 10rem 0;
}

.resume-list{
    position: relative;
    z-index: 1;
    background-color: var(--section-bg-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 46rem;
}

.resume-list::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 4rem;
    z-index: -1;
}

.resume-list__item{
    display: flex;
    align-items: center;
    position: relative;
    transition: 250ms all;
    cursor: pointer;
    margin-bottom: 2rem;
    padding: .8rem 0;
}

.resume-list__item:last-child{
    margin-bottom: 0;
}

.resume-list__item::before{
    content: '';
    position: absolute;
    width: 5rem;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    border-radius: 2rem;
    transition: 250ms all;
    z-index: -1;
    max-width: 28rem;
}

.resume-list__item--active{
    color: #fff;
}

.resume-list__item--active::before{
    width: 100%;
}

.resume-list__icon{
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 .8rem;
}

.resume-list__text{
    margin-left: 2.5rem;
    font-size: 1.8rem;
    font-family: "Poppins SemiBold",sans-serif;
    transition: 60ms all;
}

.resume-content{
    border-left: 3px solid var(--primary-color);
    padding-left: 3rem;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.resume-content--show{
    height: auto;
    overflow: visible;
    opacity: 1;
    transition: .2s opacity ease-in;
}

.resume-content__item{
    margin-bottom: 5rem;
    position: relative;
}

.resume-content__item:last-child{
    margin-bottom: 0;
}

.resume-content__item::before{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 8px;
    bottom: 0;
    left: -3.8rem;
    margin: 0 auto;
}

.resume-content__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-content__title{
    font-family: "Poppins SemiBold",sans-serif;
    font-size: 2rem;
    color:var(--secondary--color) ;
}

.resume-content__date{
    width: 10rem;
    height: 3rem;
    background-color: var(--secondary--color);
    box-shadow: 0 0 4rem rgba(245,127,23,24%);
}

.resume-content__subtitle{
    font-family: "Poppins SemiBold",sans-serif;
    font-size: 1.6rem;
    margin: .5rem 0;
}

.resume-content__description{

}

/*

-- Portfolio --

*/

.portfolio{
    margin-top: 10rem;
    background-color: var(--section-bg-color);
}

.portfolio__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 5rem 0;
}

.portfolio__item{
    cursor: pointer;
    padding: 1rem 3.5rem;
    border-radius: 4rem;
    transition: .2s all ease-in;
}

.portfolio__item--active{
    color: #fff;
    background-color: var(--primary-color);
}

.swiper-pagination-bullet{
    height: 2rem !important;
    width: 2rem !important;
    background: #fff !important;
    border: 4px solid #484343 !important;
}
.swiper-pagination-bullet-active{
    border-color: var(--primary-color) !important;
}

.swiper-pagination{
    position: static!important;
    margin-top: 1rem!important;
}

.portfolio-content__img{
    border-radius: 2rem;
    width: 100%;
}

.portfolio-content{
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.portfolio-content--show{
    height: 100%;
    overflow: visible;
    opacity: 1;
    transition: .4s ease-in opacity;
}

/*

-- Price --

*/

.pricing{
    margin-top: 15rem;
    box-shadow: 0 0 6rem rgba(19,182,255,24%);
    transform: skewY(-6deg);
    background-color: var(--section-bg-color);
    padding: 10rem 0;
}

.package{
    box-shadow: 0 0 1rem 0 rgba(255, 99, 49, 0.6);
    border-radius: 3rem;
}

.package__head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF6331;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    color: #fff;
    padding: 2rem;
    gap: 1rem;
}

.package__type{
    font-family: "Poppins SemiBold",sans-serif;
    font-size: 3.6rem;
    margin: .5rem 0;
}

.package__price{
    font-family: "Poppins SemiBold",sans-serif;
    font-size: 2.4rem;
    margin-top: -1rem;
}

.package__filter{

}

.package__body{

}

.package-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.package-options__item{
    display: flex;
    align-items: center;
    background-color: var(--section-bg-color);
    margin-top: 4rem;
    width: 20rem;
}

.package__text{

}

.package__icon{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.package__link{
    background: var(--secondary--color);
    box-shadow: 0 0 1rem 0 rgba(255, 99, 49, 0.6);
    margin: 4rem auto 0 auto;
}

/*

-- Contact Us --

*/

.contact-us{

}

.contact-us__wrapper{
    background-image: url("../images/map.jpg");
    background-size: cover;
    height: 80rem;
    padding: 5rem 0;
}

.contact-us__map{

}

.contact-us__icon{

}

.contact{
    background-color: var(--app-bg-color);
    box-shadow: 0 0 4rem rgba(19,182,255,24%);
    max-width: 55rem;
    padding: 5rem 4rem;
    margin-left: auto;
    border-radius: 2rem;
    margin-top: 2rem;
}

.contact-us__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.contact-us__title{
    font-family: "Poppins Bold",sans-serif;
    font-size: 3.6rem;
    color: var(--primary-color);
}

.contact-us__input{
    padding: 1.4rem 2.5rem;
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(10, 190, 173, 0.6);
    color: var(--text-color);
}

.contact-us__input::placeholder{
    color: inherit;
}

.contact-us__message{
    resize: vertical;
    min-height: 8rem;
    max-height: 16rem;
}


.contact-us__submit{
    width: 100%;
    border-radius: 5rem;
    color: #fff;
    background-color: var(--primary-color);
    padding: 1.5rem 0;
    cursor: pointer;
    font-family: "Poppins SemiBold",sans-serif;
}

.contact-us__map{
    position: absolute;
    left: 20%;
    top: 35%;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-bg-color);
}

.contact-us__icon{
    width: 2rem;
}

/*

-- Footer --

*/

.footer{
    padding: 2rem 0;
    background-color: var(--app-bg-color);
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text{
    font-family: "Poppins SemiBold",sans-serif;
    font-size: 1.8rem;
    letter-spacing: .4rem;
}

.footer__icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link,.change-theme{
    margin-right: 2rem;
    background-color: #333;
    border-radius: 3rem;
    transition: .2s background-color ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

.footer__link:hover{
    background-color: var(--primary-color);
}

.footer__link:last-child{
    margin-right: 0;
}

.footer__icon{
    height: 3.5rem;
    width: 3.5rem;
}
